* text=auto eol=lf
*.{cmd,bat,ps1} text eol=crlf
*.sh text eol=lf
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
# Add other binary file extensions if you have them, e.g.
# *.gz binary
# *.zip binary
# *.pdf binary 
